body {
  background-color: rgb(254, 227, 231);
}
nav {
    background-color: rgb(177, 151, 117);
    padding: 10px;
    text-align: center;
}
nav a {
    color: rgb(254, 227, 231);
    margin: 15px;
    text-decoration: none;
 }
p {
  font-size:22px;
  font-family: fantasy;
  color:white;
}

  P1 {
  font-size: 22px;
  font-family: fantasy;
  color: white;
}
P2 {
  font: size 22px;
  font-family: fantasy;
  color: white;
}

h1 {
  font-size: 45px;
  color: rgb(117, 117, 225);
  font-family: Cursive;
}
h2 {
  color: Magenta;
  font-size:30px;
}
ul { 
  font-size:17px;
  color: white;
}
.gallery{
  background-color: beige;
}
.photos {
  background-color: lightcyan;
}
H3 {
  color: magenta;
  font-size:30px;

}
body {
  background-image: url("https://i.pinimg.com/736x/fa/f8/f7/faf8f7e0fe0dc9814d2e7f7d87ef4849.jpg");
  background-size: 100vw 100vh
}
a:hover {
  background-color: rgb(235, 123, 183);
  font-size: 18px;
}
a{ 
  Color: rgb(223, 60, 185)
}



